<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>EmployeeReimburseAppEmp</servlet-name>
		<servlet-class>com.revature.web.EmployeeReimburseAppEmp
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmployeeReimburseAppEmp</servlet-name>
		<url-pattern>/Employees</url-pattern>
		<url-pattern>/Employee</url-pattern>
		<url-pattern>/registerEmployee</url-pattern>
		<url-pattern>/updateEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeReimburseAppERS</servlet-name>
		<servlet-class>com.revature.web.EmployeeReimburseAppERS
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmployeeReimburseAppERS</servlet-name>
		<url-pattern>/Tickets</url-pattern>
		<url-pattern>/Ticket</url-pattern>
		<url-pattern>/TicketByStatus</url-pattern>
		<url-pattern>/TicketByEmployeeId</url-pattern>
		<url-pattern>/registerTicket</url-pattern>
		<url-pattern>/updateTicket</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>EmployeeReimburseAppMan</servlet-name>
		<servlet-class>com.revature.web.EmployeeReimburseAppMan
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmployeeReimburseAppMan</servlet-name>
		<url-pattern>/Manager</url-pattern>
		<url-pattern>/registerManager</url-pattern>
		<url-pattern>/updateManager</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>

</web-app>